<p id="notice"><%= notice %></p>
<br>
<h1>投稿一覧</h1>
<br>
<table>
  <thead>
    <tr>
      <th>内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @toukous.each do |toukou| %>
      <tr>
        <td><%= toukou.content %></td>
        <td><%= link_to '読む', toukou %></td>
        <td><%= link_to '編集', edit_toukou_path(toukou) %></td>
        <td><%= link_to '削除', toukou, method: :delete, data: { confirm: '削除します。よいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to '新規投稿する', new_toukou_path %>
<br>
<br>
