<!DOCTYPE html>
<html>
  <head>
    <title>Tsubuyaki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
      <nav class="navbar navbar-light bg-light">
        <span class="navbar-text"  width="30" height="30" alt="">
          ヘッダーです　ヘッダーです　ヘッダーです
        </span>
      </nav>
  </header>
  <%= image_tag 'bluebird_baka.png', width: '300px' %>
    <%= yield %>
  <footer class="footer">
  <p>フッターです　フッターです　フッターです</p>
  </footer>
  </body>
</html>
